/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section {
	&.wp-block-design-system-scrolling-progress {
		position: relative;

		--progress--z-index: 1;
		--progress-height: var(--wp--preset--spacing--5);
		--progress-accent: #F8DB00;
		--progress-base: color-mix(in srgb, transparent 80%, var(--wp--preset--color--contrast));
		--progress-label--font-size: var(--wp--preset--font-size--small);
		--progress-label--radius: var(--wp--preset--spacing--30);
		--progress-label--height: 2rem;
		--progress-label--padding: var(--wp--preset--spacing--5) var(--wp--preset--spacing--10);
		--progress-label--bg: var(--progress-accent);
		--progress-label--color: #040404;

		--progress-label--top: var(--wp--preset--spacing--20);

		.progressbar__container {
			z-index: var(--progress--z-index);
			opacity: 0;
			color: var(--progress-accent);
			position: sticky;
			top: var(--top);
			padding-right: var(--wp--style--root--padding-right);
			padding-left: var(--wp--style--root--padding-left);
			border-radius: 0;

			@media screen and (min-width: 783px) {
				.admin-bar & {
					top: calc(var(--top) + var(--wp-admin--admin-bar--height));
				}
			}
		}

		.progressbar__bar {
			background-color: var(--progress-base);
			height: var(--progress-height);
			margin-left: calc(var(--wp--style--root--padding-left) * -1);
			margin-right: calc(var(--wp--style--root--padding-right) * -1);

			&__value {
				background-color: var(--progress-accent);
				display: block;
				position: relative;
				left: 0;
				top: 0;
				height: var(--progress-height);
			}
		}

		.progressbar__label__container {
			position: relative;
			z-index: var(--progress--z-index);
			display: flex;
			width: 100%;
			max-width: var(--wp--style--global--content-size);

			margin: var(--wp--preset--spacing--10) auto 0;
			box-sizing: border-box;

			font-weight: 500;

			justify-content: flex-end;

			@media screen and (min-width: 601px) {
				.admin-bar & {
					top: calc(var(--top) + var(--progress-label--top) + var(--wp-admin--admin-bar--height) - var(--progress-height));
				}
			}

			.progress__label__value {
				min-width: 4ch;
				display: inline-flex;
				justify-content: flex-end;
			}

			> .progressbar__label {
				font-size: var(--progress-label--font-size);
				border-radius: var(--progress-label--radius);
				background-color: var(--progress-label--bg);
				color: var(--progress-label--color);
				padding: var(--progress-label--padding);
			}
		}

		&[data-ready] {
			.progressbar__container { opacity: 1 }
		}

	}
}
