/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section {
	&.wp-block-design-system-scrolling-progress {
		position: relative;

		--progress--z-index: 1;
		--progress-height: var(--wp--preset--spacing--5);
		--progress-accent: var(--wp--preset--color--accent);
		--progress-base: color-mix(in srgb, transparent 80%, var(--wp--preset--color--contrast));
		--progress-label--font-size: var(--wp--preset--font-size--small);
		--progress-label--radius: var(--wp--preset--spacing--10);
		--progress-label--padding: var(--wp--preset--spacing--5) var(--wp--preset--spacing--10);
		--progress-label--bg: var(--wp--preset--color--accent);
		--progress-label--color: var(--wp--preset--color--base);

		--progress-label--top: var(--wp--preset--spacing--20);

		.progressbar__value {
			background-color: var(--progress-accent);
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: var(--progress-height) !important;
		}

		.progress { margin-block-end: 0; }
		.progress::-moz-progress-bar { background-color: var(--progress-accent); }
		.progress::-webkit-progress-bar { background-color: var(--progress-base); height: var(--progress-height) !important; }
		.progress::-webkit-progress-value { background-color: var(--progress-accent); }

		.progressbar__label__container {
			position: absolute;
			z-index: var(--progress--z-index);
			display: flex;
			width: 100%;
			max-width: var(--wp--style--global--content-size);
			padding-right: var(--wp--style--root--padding-right);
			padding-left: var(--wp--style--root--padding-left);

			font-weight: 500;
			left: 50%;
			transform: translateX(-50%);
			//left: var(--progress-label--left, var(--wp--preset--spacing--10));
			scroll-padding-top: var(--wp-admin--admin-bar--height);
			top: var(--wp--preset--spacing--10);
			//top: calc(var(--top) + var(--progress-label--top) - var(--progress-height));

			justify-content: flex-end;

			@media screen and (min-width: 601px) {
				.admin-bar & {
					top: calc(var(--top) + var(--progress-label--top) + var(--wp-admin--admin-bar--height) - var(--progress-height));
				}
			}

			.progress__value {
				min-width: 4ch;
				display: inline-flex;
				justify-content: flex-end;
			}

			> .progress__label {
				font-size: var(--progress-label--font-size);
				border-radius: var(--progress-label--radius);
				background-color: var(--progress-label--bg);
				color: var(--progress-label--color);
				padding: var(--progress-label--padding);
			}
		}

		&[data-ready] {
			.progressbar { opacity: 1 }
		}

		.progressbar {
			z-index: var(--progress--z-index);
			opacity: 0;
			color: var(--progress-accent);
			width: 100%;
			position: sticky;
			top: var(--top);
			height: var(--progress-height);

			border-radius: 0;

			@media screen and (min-width: 783px) {
				.admin-bar & {
					top: calc(var(--top) + var(--wp-admin--admin-bar--height));
				}
			}

			&.is-style-rounded {
				border-radius: unset;
			}
		}
	}
}
